In [1]:
import pandas as pd

In [7]:
filename = 'items.jl'

try:
    data = pd.read_json(filename)
except:
    with open(filename, "rb") as f:
        lines = f.readlines()
    lines = map(lambda x: x.rstrip(), lines)
    data_json_str = "[" + ','.join(lines) + "]" 
    data = pd.read_json(data_json_str)

In [8]:
#data.replace("2011 Documentary","2011",inplace=True)
#data.replace("2012","2010",inplace=True)
#data.loc[7738]['genres'].append("Short Film")
#data.loc[7014]['year'] = "2010"
#data = data[data.year != "???? "]

In [9]:
grouped = data.groupby('year')
for group in grouped:
    print(str(group[0]) + ", " + str(len(group[1])) + " movies scrapped")

1912, 367 movies scrapped
1913, 661 movies scrapped
1914, 1088 movies scrapped
1915, 1564 movies scrapped

In [10]:
len(data)

3680

In [11]:
data.head()

,genres,imdbID,rating,runtime,title,year
0,[Comedy],tt0003973,6.2,63 mins.,A Florida Enchantment,1914
1,"[Biography, Drama]",tt0003330,6.6,110 mins.,The Life and Works of Richard Wagner,1913
2,"[Crime, Drama]",tt0004837,6.9,50 mins.,"The World, the Flesh and the Devil",1914
3,[],tt0991281,6.7,9999,La signora delle camelie,1915
4,[Action],tt0004052,7.0,1428 mins.,The Hazards of Helen,1914

In [59]:
for group in grouped:
    if str(group[0]) == "2011 Short Film": print(group[1])

                   genres     imdbID rating   runtime             title  \
7735  [Drama, Short Film]  tt5599942      -  11 mins.          La Mujer
7738  [Crime, Short Film]  tt5606610      -      9999  The Picture Hunt

                 year
7735  2011 Short Film
7738  2011 Short Film

In [66]:
import json
with open('items_new.jl', 'wb') as f:
    for i, item in enumerate(data.iterrows()):
        #if i == 4: 
        #    print(item[1])
        line = json.dumps(dict(item[1])) + "\n"
        f.write(line)

In [67]:
filename = 'items_new.jl'

try:
    data_new = pd.read_json(filename)
except:
    with open(filename, "rb") as f:
        lines = f.readlines()
    lines = map(lambda x: x.rstrip(), lines)
    data_json_str = "[" + ','.join(lines) + "]" 
    data_new = pd.read_json(data_json_str)

In [68]:
data_new.head()

,genres,imdbID,rating,runtime,title,year
0,"[Drama, Thriller]",tt1675192,7.4,121 mins.,Take Shelter,2011
1,"[Biography, Drama, Family, Sport]",tt1596346,7.1,106 mins.,Soul Surfer,2011
2,"[Action, Drama, Sci-Fi, Sport]",tt0433035,7.1,127 mins.,Real Steel,2011
3,"[Action, Crime, Thriller]",tt1899353,7.6,101 mins.,The Raid: Redemption,2011
4,"[Drama, Sci-Fi]",tt1527186,7.1,130 mins.,Melancholia,2011

In [69]:
grouped = data_new.groupby('year')
for group in grouped:
    print(str(group[0]) + ", " + str(len(group[1])) + " movies scrapped")

2011, 7739 movies scrapped

In [70]:
len(data_new)

7739